asttokens==3.0.0
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
cryptography==41.0.7
decorator==5.2.1
executing==2.2.0
idna==3.10
ipython==9.2.0
ipython_pygments_lexers==1.1.1
jedi==0.19.2
matplotlib-inline==0.1.7
packaging==25.0
pan-os-python==1.12.2
pan-python==0.17.0
pandevice==0.14.0
panos-upgrade-assurance==1.1.2
parso==0.8.4
pexpect==4.9.0
prompt_toolkit==3.0.51
ptyprocess==0.7.0
pure_eval==0.2.3
pycparser==2.22
Pygments==2.19.1
pyOpenSSL==23.3.0
requests==2.32.3
setuptools==80.4.0
stack-data==0.6.3
traitlets==5.14.3
urllib3==2.4.0
wcwidth==0.2.13
xmltodict==0.14.2
